
<div class="row" ng-controller="companyCtrl" ng-init="tabNow=1" ng-show="companyShow">
	<div class="col-md-12">
		<ul class="nav nav-tabs" id="company-nav" style="cursor: pointer;">
			<li ng-repeat="item in nav" ng-click="clickNav($index)">
				<a >
					{{item}}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<!--{{contentUrl}}-->
		<!--<div ng-bind-html-unsafe="contentHtml" ></div>-->
		<!-- <div ng-bind-html="contentHtml" ></div> -->
		<pre id="comany-pre">{{companyData[tabNow]}}</pre>
	</div>
</div>
