<div class="row" ng-controller="companyCtrl">
	<div class="col-md-12">
		<ul class="nav nav-tabs" id="company-nav">
			<li ng-repeat="item in nav" ng-click="clickNav($index)">
				<a >
					{{item.title}}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		{{contentUrl}}
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var companyCtrl = function($scope,$http) {
		$scope.nav = [{
			"title" : "最新动态",
			"url" : "./"
		}, {
			"title" : "公司资料",
			"url" : "./company.html"
		}, {
			"title" : "股东研究",
			"url" : "./holder.html"
		}, {
			"title" : "经营分析",
			"url" : "./operate.html"
		}, {
			"title" : "股本结构",
			"url" : "./equity.html"
		}, {
			"title" : "资本运作",
			"url" : "./capital.html"
		}, {
			"title" : "盈利预测",
			"url" : "./worth.html"
		}, {
			"title" : "新闻公告",
			"url" : "./news.html"
		}, {
			"title" : "财务概况",
			"url" : "./finance.html"
		}, {
			"title" : "主力持仓",
			"url" : "./position.html"
		}, {
			"title" : "深度研究",
			"url" : "./research.html"
		}, {
			"title" : "分红融资",
			"url" : "./bonus.html"
		}, {
			"title" : "公司大事",
			"url" : "./event.html"
		}, {
			"title" : "行业对比",
			"url" : "./field.html"
		}];
		$scope.nowCompany = "000576";
		$scope.clickNav = function(index){
			$scope.contentUrl = $scope.nav[index].url.replace(".",$scope.nowCompany);
			
		}
	};

</script>
