<div ng-controller='fenleiCtrl' class="container">

	<div class="row">

		<form class="form-inline" role="form">
			<button type="submit" class="btn btn-default" ng-click="showFenlei=!showFenlei">
				显示/隐藏分类
			</button>
			<div class="form-group">
				<input type="text" ng-model="fenleiSearch" class="form-control"  placeholder="搜索分类">
			</div>
			<div class="form-group">
				<input type="text" ng-model="CompanySearch" class="form-control" ng-change="searchCompany()" placeholder="搜索公司">
			</div>
		</form>
		<!--分类列表-->
		<div class="col-md-12 thumbnail fenlei" ng-show="showFenlei || fenleiSearch">
			<span ng-repeat="i in fenleiList | filter:fenleiSearch" ng-click="clickFenlei($index)"> {{i.name}}({{i.count}}) </span>
		</div>

	</div>
	<h3>公司</h3>
	<div class="company row thumbnail ">
		<span ng-repeat='i in companyShow.id_list'>{{i}} {{companyShow.title_list[$index]}}</span>
	</div>
</div>

<div ng-controller="reloadCtrl"></div>
<script type="text/javascript" charset="utf-8">
	var fenleiCtrl = function($scope, $http, $filter) {
		window.scope = $scope;
		$scope.fenleiNow = 1
		$http.get('api/fenlei').success(function(data) {
			$scope.fenlei = data;
			$scope.fenleiList = [];
			for (var i in data) {
				item = {
					"name" : i,
					"count" : data[i].id_list.length,
					'namePinYin' : data[i].fenlei_pinyin
				}
				$scope.fenleiList.push(item);
			}
			$scope.company = []
			for (var i in $scope.fenlei) {
				var item = $scope.fenlei[i];
				for (var j in item.id_list) {
					company = {}
					company.id = item.id_list[j]
					company.title = item.title_list[j]
					company.title_pinyin = item.title_list_pinyin[j]
					$scope.company.push(company)
				}
			}

		});

		$scope.clickFenlei = function(index) {
			$scope.showFenlei = !$scope.showFenlei
			$scope.companyShow = $scope.fenlei[$scope.fenleiList[index].name];
		}

		$scope.searchCompany = function() {
			$scope.companyShow = {
				id_list : [],
				title_list : [],
				title_list_pinyin : []
			};
			var re = searchCompany($scope.company, $scope.CompanySearch)
			for (var i in re) {
				var item = re[i];
				$scope.companyShow.id_list.push(item.id)
				$scope.companyShow.title_list.push(item.title)
				$scope.companyShow.title_list_pinyin.push(item.title_pinyin)
			}
			//			debugger;
		};
	};

	function reloadCtrl($http, $route) {
		var oldHtml = '';
		var reload = function(url) {
			$http.get(url).success(function(newHtml) {
				if (oldHtml.length > 0 && newHtml != oldHtml) {
					clearInterval(id);
					$route.reload();
				} else {
					oldHtml = newHtml;
					//					console.log('watch')
				}
			});
		};
		var reloadList = function() {
			reload('/static/fenlei.html');

		}
		var id = setInterval(reloadList, 300);
	}

</script>

