

<style>
	.fenlei span {
		/*color: rgb(255, 186, 0);*/
		cursor: pointer;
		font-size: 20px;
		margin-left: 13px;
		margin-right: 13px;
		border-radius: 4px;
		background-color: #EFF6FA;
		float: left;
	}
	.fenlei span:hover {
		background: #259;
		color: #fff;
		text-decoration: none;
	}

	.company span {
		/*color: rgb(255, 186, 0);*/
		cursor: pointer;
		font-size: 20px;
		margin-left: 13px;
		margin-right: 13px;
		border-radius: 4px;
		/*background-color: #EFF6FA;*/
		float: left;
	}
	.company span:hover {
		background: #259;
		color: #fff;
		text-decoration: none;
	}
</style>

<div ng-controller='fenleiCtrl' class="container">
	<h3>分类</h3>
	<div class="row thumbnail fenlei">
		<span ng-repeat="i in fenleiList" ng-click="clickFenlei($index)"> {{i.name}}({{i.count}}) </span>
	</div>
	<h3>公司</h3>
	<div class="company row thumbnail ">
		<span ng-repeat='i in company.id_list'>{{i}} {{company.title_list[$index]}}</span>
	</div>
</div>
