<div id="gegu" class="thumbnail">
        <!--自选股-->
        <div class="row">
          <div role="toolbar" style="margin-left: 16px;" class="btn-toolbar">
            <div class="btn-group btn-primary">
              <button type="button" class="btn">汇丰控股</button>
              <button type="button" class="btn">鞍钢股份</button>
              <button type="button" class="btn">中国铝业</button>
              <button type="button" class="btn">中国电信</button>
              <button type="button" class="btn">中国移动</button>
              <button type="button" class="btn">中国联通</button>
              <button type="button" class="btn">添加自选股</button>
            </div>
          </div>
        </div>
        <!--个股导航			-->
        <div class="row">
          <div class="col-md-6">
            <div role="toolbar" class="btn-toolbar">
              <div class="btn-group">
                <button type="button" class="btn btn-default">公司资料</button>
                <button type="button" class="btn btn-default">新闻资讯</button>
                <button type="button" class="btn btn-default">公司公告</button>
                <button type="button" class="btn btn-default">财务指标</button>
                <button type="button" class="btn btn-default">分红派息</button>
                <button type="button" class="btn btn-default">窝轮</button>
                <button type="button" class="btn btn-default">权益变动</button>
              </div>
            </div>
            <!--个股表格-->
            <div id="otherData" class="otherData">
              <table class="table">
                <tbody>
                  <tr>
                    <td> 昨收盘:78.750</td>
                    <td>今开盘:<span class="upColor">79.000</span></td>
                    <td>最高价:<span class="upColor">79.400</span></td>
                    <td>最低价:<span class="upColor">78.950</span></td>
                  </tr>
                  <tr>
                    <td> 成交额:9.04亿元 </td>
                    <td> 成交量:0.11亿股 </td>
                    <td>成交价<a href="javascript:void(0)" title="此处的成交价，指最近一笔成功撮合的交易的成交价。">(?)</a>:<span>79.200</span></td>
                    <td>振　幅:<span>0.571%</span></td>
                  </tr>
                  <tr class="nbor">
                    <td> 市盈率:12.153</td>
                    <td> 港股市值:14946.34亿 </td>
                    <td>52周最高:<span>90.700</span></td>
                    <td>52周最低:<span>75.750</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6"><img src="/static/img/FT100.gif"></div>
        </div>
      </div>