<div id="myTabContent" class="tab-content">
            <div id="tab1" class="tab-pane fade active in">
              
              <div class="article">
                <div class="thumbnail">
                  <div>
                    <h4><a href="">沪港交易所拟推网络互通 A股港股双向买卖可期</a></h4>
                  </div>
                  <div class="digest">
                    <p><span> 核心提示：21世纪经济报道记者独家获悉，港交所与上交所已经就网络互通达成共识，未来上交所将承接内地QDII2买卖单需求，集中报送至港交所执行；海外机构亦可通过港交所直投A股，由上交所负责执行，但相应投资额度尚不明确。</span></p>
                  </div>
                  <div class="bottom"><span class="author"><em>来源:</em><a href="#">新浪股票</a></span><span class="cat"><em>|分类:</em><a href="#">港股</a></span><span class="read"><em>|阅读: 6</em></span><span class="time"><em>|发布于:2014年04月02日 11:15 |</em></span><a href="#" class="fullcontent">阅读全文...</a></div>
                </div>
              </div>
              <div class="article">
                <div class="thumbnail">
                  <div>
                    <h4><a href="">沪港交易所拟推网络互通 A股港股双向买卖可期</a></h4>
                  </div>
                  <div class="digest">
                    <p><span> 核心提示：21世纪经济报道记者独家获悉，港交所与上交所已经就网络互通达成共识，未来上交所将承接内地QDII2买卖单需求，集中报送至港交所执行；海外机构亦可通过港交所直投A股，由上交所负责执行，但相应投资额度尚不明确。</span></p>
                  </div>
                  <div class="bottom"><span class="author"><em>来源:</em><a href="#">新浪股票</a></span><span class="cat"><em>|分类:</em><a href="#">港股</a></span><span class="read"><em>|阅读: 6</em></span><span class="time"><em>|发布于:2014年04月02日 11:15 |</em></span><a href="#" class="fullcontent">阅读全文...</a></div>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane fade">
              <div class="article">
                <div class="thumbnail">
                  <div>
                    <h4><a href="">四月赚钱好行情  大胆买股</a></h4>
                  </div>
                  <div class="digest">
                    <p><span> 第一：三月二十号博文《年度大底五部曲：恐慌 崩溃 卖股 跌停潮 见底》在这段时间里A股市场经历了恐慌 崩溃 卖股跌停潮等几个过程，而目前本栏认为市场已经有效的释放了风险，4月份将是赚钱好行情，本栏建议大胆买股的时候到了，可迅速逢低逢阴把仓位提高到8成以上。</span></p>
                  </div>
                  <div class="bottom"><span class="author"><em>来源:</em><a href="#">新浪博客</a></span><span class="cat"><em>|分类:</em><a href="#">港股</a></span><span class="read"><em>|阅读: 64</em></span><span class="time"><em>|发布于:2014年04月05日 11:15 |</em></span><a href="#" class="fullcontent">阅读全文...</a></div>
                </div>
              </div>
             
              <div class="article">
                <div class="thumbnail">
                  <div>
                    <h4><a href="">四月赚钱好行情  大胆买股</a></h4>
                  </div>
                  <div class="digest">
                    <p><span> 第一：三月二十号博文《年度大底五部曲：恐慌 崩溃 卖股 跌停潮 见底》在这段时间里A股市场经历了恐慌 崩溃 卖股跌停潮等几个过程，而目前本栏认为市场已经有效的释放了风险，4月份将是赚钱好行情，本栏建议大胆买股的时候到了，可迅速逢低逢阴把仓位提高到8成以上。</span></p>
                  </div>
                  <div class="bottom"><span class="author"><em>来源:</em><a href="#">新浪博客</a></span><span class="cat"><em>|分类:</em><a href="#">港股</a></span><span class="read"><em>|阅读: 64</em></span><span class="time"><em>|发布于:2014年04月05日 11:15 |</em></span><a href="#" class="fullcontent">阅读全文...</a></div>
                </div>
              </div>
            </div>
            <div id="tab3" class="tab-pane fade">
              
              <div class="article">
                <div class="thumbnail">
                  <div>
                    <h4><a href="">大空头查诺斯：中国股市是一场阴谋而不是一个市场</a></h4>
                  </div>
                  <div class="digest">
                    <p><span> 新浪财经讯 大空头查诺斯发文称，我提醒投资中国股市的西方投资者，你参加的是一场阴谋，而不是一个市场。新浪声明：新浪网登载此文出于传递更多信息之目的，并不意味着赞同其观点或证实其描述。文章内容仅供参考，不构成投资建议。投资者据此操作，风险自担。</span></p>
                  </div>
                  <div class="bottom"><span class="author"><em>来源:</em><a href="#">新浪博客</a></span><span class="cat"><em>|分类:</em><a href="#">港股</a></span><span class="read"><em>|阅读: 64</em></span><span class="time"><em>|发布于:2014年04月05日 11:15 |</em></span><a href="#" class="fullcontent">阅读全文...</a></div>
                </div>
              </div>
            </div>
          </div>