<div id="myTabContent" class="tab-content" ng-controller='articleCtrl'>
	<div id="tab1" class="tab-pane fade active in">

		<div class="article" ng-repeat='article in articleList'>
			<div class="thumbnail">
				<div class="abs-title article_title">
					<h4>
					<a href="">
						{{article.title}}
					</a></h4>
				</div>
				<div class="digest article_cut" ng-click="toggle(article._id)">
					<p>
						{{article.summary}}
					</p>
				</div>

				<div class="bottom">
					<span class="author"><em>来源:</em>
						<a href="#">
							无
						</a></span><span class="cat"><em>|分类:</em>
						<a href="#">
							无
						</a></span><span class="read"><em>|阅读: 6</em></span><span class="time"><em>|发布于:{{article.datetime}} |</em></span>

					<span class="author"><em>关键字:</em>
						<code ng-repeat='word in article.keyword'>
							{{word}}
						</code>
				</div>
			</div>
			<div class="article_body" ng-bind-html="article.body" ng-show='article.body'>

			</div>

		</div>
	</div>

	<script type="text/javascript" charset="utf-8">
		


	</script>
